In [1]:
#https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/

In [3]:
# importing necessary python packages
import numpy as np
from sklearn import neighbors
from sklearn.model_selection import train_test_split
import pandas as pd

In [4]:
df = pd.read_csv('breast-cancer-wisconsin.data',header=None)
df.replace('?',-99999,inplace=True)
df

          0   1   2   3   4   5   6   7   8   9   10
0    1000025   5   1   1   1   2   1   3   1   1   2
1    1002945   5   4   4   5   7  10   3   2   1   2
2    1015425   3   1   1   1   2   2   3   1   1   2
3    1016277   6   8   8   1   3   4   3   7   1   2
4    1017023   4   1   1   3   2   1   3   1   1   2
..       ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
694   776715   3   1   1   1   3   2   1   1   1   2
695   841769   2   1   1   1   2   1   1   1   1   2
696   888820   5  10  10   3   7   3   8  10   2   4
697   897471   4   8   6   4   3   4  10   6   1   4
698   897471   4   8   8   5   4   5  10   4   1   4

[699 rows x 11 columns]

In [5]:
#assign column names to the dataset as follows
columns=['id','Clump Thickness','Uniformity of Cell Size',
            'Uniformity of Cell Shape','Marginal Adhesion','Single Epithelial Cell Size','Bare Nuclei','Bland Chromatin',
           'Normal Nucleoli','Mitoses','Class']

In [6]:
df.columns=columns
df

,id,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3,1,1,1,3,2,1,1,1,2
695,841769,2,1,1,1,2,1,1,1,1,2
696,888820,5,10,10,3,7,3,8,10,2,4
697,897471,4,8,6,4,3,4,10,6,1,4
698,897471,4,8,8,5,4,5,10,4,1,4

In [7]:
x=np.array(df.drop(['Class'],axis=1))
y=np.array(df['Class'])

In [8]:
#ivide the data into train and test split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [10]:
#rain the model with the help of KNeighborsClassifier 
clf= neighbors.KNeighborsClassifier()
clf.fit(x_train,y_train)
accurancy=clf.score(x_test,y_test)
#print("accuracy",accurancy)

#make prediction
y_pred = clf.predict(x_test)

# print the results as follows
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
result = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:")
print(result)
result1 = classification_report(y_test, y_pred)
print("Classification Report:",)
print (result1)
result2 = accuracy_score(y_test,y_pred)
print("Accuracy:",result2)

Confusion Matrix:
[[78 25]
 [25 12]]
Classification Report:
              precision    recall  f1-score   support

           2       0.76      0.76      0.76       103
           4       0.32      0.32      0.32        37

    accuracy                           0.64       140
   macro avg       0.54      0.54      0.54       140
weighted avg       0.64      0.64      0.64       140

Accuracy: 0.6428571428571429

In [11]:
exemple_mesure=np.array([[114676,2,1,2,1,2,2,3,1,1]])
prediction=clf.predict(exemple_mesure)
print("new Prediction",prediction) #(2 for benign, 4 for malignant)

new Prediction [4]